@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body{
	margin : 0;
	width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position : center;
    background-repeat: no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center; 
    align-items:center; 
    background-image: url("https://wallpaperaccess.com/full/14444.jpg");
    font-family: 'Roboto', sans-serif;
}

.glass-card{
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	display:flex;
	flex-direction:column;
	padding : 16px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  border : none;
  background-color : rgba(1,1,1,0.6);
  color : white;
  font-weight : w800;
}

h1{
	color : white;
}


label {
	color : white;
}
/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  border: none;
}

/* Style the container for inputs */
.container {
  background-color: #FFBF00;
  padding: 20px;
}

p{
	color : white;
}

.wrapper {
	border-radius : 12px;
	padding : 8px;
	color : rbga(1,1,1,0.8);
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

a{
	color : yellow;
	text-decoration: none; 
}